/* general classes  -------------------------------------------- */
body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(27, 39, 39);
  color: aliceblue;
  padding: 0 4rem 0 4rem;
  max-width: 1140px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
h2 {
  margin-top: 3rem;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: rgba(0, 255, 255, 0.511);
  font-size: 0.8rem;
}
ul {
  padding: 0;
  margin: 0;
  line-height: 2.5rem;
}
ul li {
  list-style: none;
}
a {
  color: aqua;
  text-decoration: none;
}
nav a:hover {
  color: aquamarine;
  border-bottom: 2px solid orangered;
  padding-bottom: 0.3rem;
}
nav ul {
  display: flex;
  gap: 1rem;
}

footer {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* specific classes BEM  --------------------------------------- */
.container__top {
  display: flex;
  gap: 1.8rem;
  justify-content: space-between;
  align-items: end;
}
.container__top--left {
  width: 100%;
  height: 400px;
  background-image: url("../imgs/ga-mood-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.container__contact {
  margin-top: 2.5rem;
  display: flex;
  column-gap: 4.5rem;
  row-gap: 0.6em;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid rgba(64, 224, 208, 0.138);
  padding: 1.5rem;
  border-radius: 1rem;
}
.container__social {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  border: 1px solid rgba(64, 224, 208, 0.138);
  padding: 1.5rem;
  border-radius: 1rem;
}

/* specific classes -------------------------------------------- */
.list-hobbies {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.list-hobbies li {
  border: 1px solid rgba(64, 224, 208, 0.272);
  padding: 0.1rem 0.6rem;
  border-radius: 0.3rem;
  width: max-content;
  background-color: rgba(55, 55, 55, 0.444);
}
.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-item svg:hover {
  filter: hue-rotate(0deg) saturate(10000%);
}
.social-item p {
  border-bottom: 2px solid orangered;
  width: min-content;
  text-align: center;
  padding-bottom: 0.7rem;
  align-self: center;
}
.svg-social {
  width: 3rem;
  height: 3rem;
}

/* Tablet & Moblie --------------------------------------------- */

@media (width <= 670px) {
  .container__top {
    display: flex;
    flex-direction: column-reverse;
  }
}
